<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <title>View All User</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
  <div class="card m-4 p-4">
    <div class="card-body">
      <div class="justify-content-center">
        <h2>List User</h2>
        <br>
        <div th:each="user : ${listUser}">
          <p th:text="'Username  : ' + ${user.username}"></p>
          <p th:text="'Nama: ' + ${user.nama}"></p>
          <p th:text="'Email: ' + ${user.email}"></p>
          <p th:text="'Role: ' + ${user.role.role}"></p>
          <div class="col">
            <a class="btn btn-danger" th:href="@{/user/delete/} + ${user.username}">Delete User</a>
          </div>
          <hr>
        </div>
        <br>
        <a class="btn btn-primary" href="/">Home</a>
        <a class="btn btn-primary" th:href="@{/user/add}">Tambah User</a>
      </div>
    </div>
  </div>
</div>

</body>
</html>